@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aparecer {
    visibility: hidden;
}

a {
    text-decoration: none;
    color: #8E5D52;
}

body {
    font-size: 100%;
    background: linear-gradient(white);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 100px;
    position: absolute;
    left: 5%;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'IM Fell English SC', serif;
    color: #8E5D52;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    padding: 40px;
    border-top: 0.4px solid #8E5D52;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    font-size: 50px;
    color: #8E5D52;
}

.conteudo-principal-video {
    height: 350px;
}

.conteudo-secundario-escrito {
    font-family: 'IM Fell English SC', serif;
    font-size: medium;
    font-weight: 400;
    display: flex;
    align-items: center;
    position: absolute;
    width: 40%;
    text-align: justify;
    top: 40%;
    left: 5%;
    color: #8E5D52;
}

.conteudo-pagina-escrito-titulo {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    font-size: 50px;
    color: #8E5D52;
    /* margin-top: 50%; */
    position: relative;
    top: 10%;
    left: 15%;
    width: 10%;
}

.conteudo-pagina-escrito-secundario {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 58px;
    position: absolute;
    top: 6%;
    left: 5%;
    color: #8E5D52;
    text-align: justify;
    width: 40%;
}

.conteudo-pagina-escrito-titulo-cinco {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    font-size: 50px;
    color: #8E5D52;
    position: absolute;
    top: 0%;
    left: 65%;
}

.conteudo-pagina-escrito-seis {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 58px;
    position: absolute;
    top: 6%;
    left: 55%;
    color: #8E5D52;
    text-align: justify;
    width: 40%;
}

.persona {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    font-size: xx-large;
    color: #8E5D52;
    position: absolute;
    top: 0%;
    left: 40%;
}

.box {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    position: relative;
    /* top: 238%; */
    /* padding-top: 10%; */
    left: 42%;
    width: 13%;
    margin-top: 5%;
    background-color: #2F2325;
    border-radius: 6px;
    padding: 4px;
}

fieldset {
    border: 2px solid #8E5D52;
}

legend {
    border: 1px solid #8E5D52;
    padding: 6px;
    text-align: center;
    background-color: #8E5D52;
    border-radius: 2px;
}

.inputuser {
    background: none;
    border: none;
    border-bottom: 1px solid #8E5D52;
    outline: none;
    color: black;
    font-size: 15px;
    width: 100%;
}

.titulo {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    position: absolute;
    top: 59%;
}

#submit {
    background-color: #8E5D52;
    width: 100%;
    border: none;
    padding: 15px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-color: #3b3133;
}

.boxtwo {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    position: absolute;
    top: 238%;
    left: 29%;
    background-color: #2F2325;
    border-radius: 6px;
    padding: 4px;
}

fieldset {
    border: 2px solid #8E5D52;
}

legend {
    border: 1px solid #8E5D52;
    padding: 6px;
    text-align: center;
    background-color: #8E5D52;
    border-radius: 2px;
}

.boxtres {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    position: absolute;
    top: 238%;
    left: 54%;
    background-color: #2F2325;
    border-radius: 6px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
}

fieldset {
    border: 2px solid #8E5D52;
}

legend {
    border: 1px solid #8E5D52;
    padding: 6px;
    text-align: center;
    background-color: #8E5D52;
    border-radius: 2px;
}

.boxquatro {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    position: absolute;
    top: 238%;
    left: 78%;
    background-color: #2F2325;
    border-radius: 6px;
    padding: 4px;
}

fieldset {
    border: 2px solid #8E5D52;
}

legend {
    border: 1px solid #8E5D52;
    padding: 6px;
    text-align: center;
    background-color: #8E5D52;
    border-radius: 2px;
}

.boxcinco {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    position: absolute;
    top: 337%;
    left: 4%;
    background-color: #2F2325;
    border-radius: 6px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
}

fieldset {
    border: 2px solid #8E5D52;
}

legend {
    border: 1px solid #8E5D52;
    padding: 6px;
    text-align: center;
    background-color: #8E5D52;
    border-radius: 2px;
}

.boxseis {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    position: absolute;
    top: 337%;
    left: 29%;
    background-color: #2F2325;
    border-radius: 6px;
    padding: 4px;
}

fieldset {
    border: 2px solid #8E5D52;
}

legend {
    border: 1px solid #8E5D52;
    padding: 6px;
    text-align: center;
    background-color: #8E5D52;
    border-radius: 2px;
}

.boxsete {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    position: absolute;
    top: 337%;
    left: 54%;
    background-color: #2F2325;
    border-radius: 6px;
    padding: 4px;
}

fieldset {
    border: 2px solid #8E5D52;
}

legend {
    border: 1px solid #8E5D52;
    padding: 6px;
    text-align: center;
    background-color: #8E5D52;
    border-radius: 2px;
}

.boxoito {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    position: absolute;
    top: 337%;
    left: 78%;
    background-color: #2F2325;
    border-radius: 6px;
    padding: 4px;
}

fieldset {
    border: 2px solid #8E5D52;
}

legend {
    border: 1px solid #8E5D52;
    padding: 6px;
    text-align: center;
    background-color: #8E5D52;
    border-radius: 2px;
}

.final {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    font-size: xx-large;
    color: #8E5D52;
    position: absolute;
    top: 10%;
    left: 47%;
}

.autor {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    font-size: large;
    color: #8E5D52;
    position: absolute;
    top: 20%;
    left: 30%;
    text-align: justify;
    width: 40%;
}

.seletor {
    border: none;
    padding: 8px;
    border-radius: 10px;
}

.rodape {
    padding-top: 2%;
    position: absolute;
    bottom: 0%;
}

.rodape-texto {
    font-family: 'IM Fell English SC', serif;
    display: flex;
    color: #8E5D52;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 95%;
    left: 36%;
}

.imagemfim {
    height: 300px;
    position: absolute;
    top: 20%;
    left: 9%;
}

@media screen and (max-width: 768px) {
    selction,
    aside {
        width: 100%;
    }
}